* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#mobile-controls {
  position: fixed;

  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: 10px;

  z-index: 10;
}

#mobile-controls button {

  width: 70px;
  height: 70px;

  border: none;
  border-radius: 20px;

  background: rgba(255,255,255,0.15);

  color: white;

  font-size: 28px;

  cursor: pointer;

  backdrop-filter: blur(10px);

  box-shadow:
    0 0 20px rgba(0,255,255,0.3);

  transition: 0.2s;
}

#mobile-controls button:hover {

  transform: scale(1.1);

  background:
    rgba(0,255,255,0.25);
}